.header{
    background-color: rgb(55, 43, 226);
    height : 70px;
    color: white;
    display: flex;
    align-items: flex-start;
}

.header-para{
    font-weight: 600;
    padding: 20px 0px 20px 20px;
}